body{
	background-size: 100% 100%;
	background-attachment: fixed;

}
#header-top{
	padding-top: 30px;
	padding-bottom: 40px;
	padding-left:190px;
	padding-right: 30px;

}
#menu-header{
	margin-top: 10px
	padding-left: 0px;

}
nav{margin-top: 10px;}
nav ul{
	list-style:none; padding-left:0;
	padding-right: 0px;
}
nav ul li{
	display:inline-block;
}
nav ul li a{
	text-decoration: none; color: #ffffff; font-size: 15px;  padding: 0px 15px; ;
	font-family: 'Brandon Grotesque';
	}


#Apartado-3{
	width: 1300px;
	height: 590px;
	margin-top: 1500px;
	text-decoration: none;  padding: 0px 18px; ;
	font-family: 'Brandon Grotesque';
}

#categorias{
	padding-left: 270px;
	width: 872px;
	height: 390px;
}

.uno{
	margin-top: 0px;
	margin-left: 0px;
	float: left;
	
}

.dos{
	margin-top: 0px;
	margin-left: 115px
}

.tres{
	margin-top: 0px;
	margin-left: 0px;
	float: left;
	
}

.cuatro{
	margin-top: 0px;
	margin-left: 115px
}

.cinco{
	margin-top: 0px;
	margin-left: 0px;
	float: left;
}

.seis{
	margin-top: 0px;
	margin-left: 115px
}