body{
	background-size: 100% 100%;
	background-attachment: fixed;
}
#header-top{
	padding-top: 30px;
	padding-bottom: 40px;
	padding-left:190px;
	padding-right: 30px;
}
#menu-header{
	margin-top: 10px
	padding-left: 0px;
}
nav{margin-top: 10px;}
nav ul{
	list-style:none; padding-left:0;
	padding-right: 0px;
}
nav ul li{
	display:inline-block;
}
nav ul li a{
	text-decoration: none; color: #ffffff; font-size: 15px;  padding: 0px 15px; ;
	font-family: 'Brandon Grotesque';
}