/*primera parte*/
#header-top{
	padding-top: 30px;
	padding-bottom: 40px;
	padding-left:190px;
	padding-right: 30px;

}
#menu-header{
	margin-top: 10px
	padding-left: 0px;

}
nav{margin-top: 10px;}
nav ul{
	list-style:none; padding-left:0;
	padding-right: 0px;
}
nav ul li{
	display:inline-block;
}
nav ul li a{
	text-decoration: none; color: #ffffff; font-size: 15px;  padding: 0px 15px; ;
	font-family: 'Brandon Grotesque';
	}
/*Segunda parte*/
#Web-Development{
	width: auto;
	height: 440px;
	background: #ffffff;
	padding-top: 60px;
	padding-bottom: 70px;
	font-family: 'PT Sans', sans-serif;
}

#Web-Development h2{
	padding-left: 270px;
color: #222222;
padding-top:10px;
padding-bottom: 10px;
}

#Web-Development p{
	color: #777777;
	padding-left: 230px;
	padding-top: 12px;
	font-size: 10pt;
	font-family: 'PT Sans', sans-serif;}

#Identity-Branding{
	width: auto;
	height: 440px;
	background: #fafafa;
	overflow:auto;
	padding-top: 60px;
	padding-bottom: 100px;
	font-family: 'PT Sans', sans-serif;
}
#Identity-Branding h2{
color: #222222;
padding-top:10px;
padding-bottom: 10px;
}
#Identity-Branding p{
	padding-top: 12px;
	font-size: 11pt;
	color: #777777;
	font-family: 'PT Sans', sans-serif;
}
/*-----------------------cuarta parte---------------------*/
#Apartado-4{
	padding: 100px 0 60px;
	width: 100%;
	height: 590px;
	background: #ffffff;

}

#categorias{
	padding-left: 250px;

}

.uno{
	float: left;
}
.uno h3{
	font-size: 22px;
	color: #222222;
	padding-left: 101px;
}

.uno p{
	margin-left: 95px;
	color: #777777;

}

.dos{
	margin-top: 0px;
	margin-left: 110px;
}

.dos h3{
	padding-left: 101px;
	font-size: 22px;
	color: #222222;
}

.dos p{
	margin-left: 95px;
}

.tres{
	margin-top: 0px;
	margin-left: 0px;
	float: left;
}

.tres h3{
	padding-left: 101px;
	font-size: 22px;
	color: #222222;
}

.tres p{
	margin-left: 95px;
	color: #777777;
}

.cuatro{
	margin-top: 0px;
	margin-left: 110px
}

.cuatro h3{
	padding-left: 101px;
	font-size: 22px;
	color: #222222;
}

.cuatro p{
	margin-left: 95px;
}

.cinco{
	margin-top: 0px;
	margin-left: 0px;
	float: left;
}

.cinco h3{
	padding-left: 101px;
	font-size: 22px;
	color: #222222;
}

.cinco p{
	margin-left: 95px;
	color: #777777

}

.seis{
	margin-top: 0px;
	margin-left: 110px
}

.seis h3{
	padding-left: 101px;
	font-size: 22px;
	color: #222222;
}

.seis p{
	margin-left: 95px;
}
/*-----------------------Quinta parte-------------------*/
#Parte_5{
	background: #fafafa;
	padding-top: 100px;
}
#text h1{
	font-size: 50px;
	padding-left: 25%;
	padding-right: 25%;
	font-weight: 100;
}
#text h1 b{
	font-weight: 700
}
#text p {
	font-size: 17px;
	margin-left: 26%;
	margin-right: 25%;
	color: #828282;
	font-weight:
}
/*-----------------------------------------------------------*/
#text2{
	width: 650px;
	height: 175px;
	background: #ffffff;
	color: #8d8d8d;
	text-align: justify;
	vertical-align: middle;
	margin-top: 80px;
}
#text2 h2 {
	font-size: 23px;
	font-weight: 400;
	padding-top: 40px;
	padding-left: 74px;
	padding-right: 75px;
}
#text2 p {
	color: #7690c5;
	padding-bottom: 46px;
	padding-left: 74px;
	font-size: 18px;
}
#circulo1 {
	margin-top: 52px;
	padding-left: 5%;
}
/*--------------------------------------------------------*/
#text3{
	width: 650px;
	height: 175px;
	background: #ffffff;
	color: #8d8d8d;
	text-align: justify;
	vertical-align: middle;
	margin-top: 80px;
	margin-left: 8%;
	margin-bottom: 121px;
}
#text3 h2 {
	font-size: 23px;
	font-weight: 400;
	padding-top: 40px;
	padding-left: 74px;
	padding-right: 75px;
}
#text3 p {
	color: #7690c5;
	padding-bottom: 46px;
	padding-left: 74px;
	font-size: 18px;
}
#circulo2 {
	margin-top: 52px;
	padding-left: 5%;
}
/*----------------------------------------------------------*/
#red {
	background: #ffffff;
	padding-bottom: 60px;
	padding-top: 60px;
	padding-left: 10%;
}
#red nav ul{
	list-style: none;
	border: none;
}
#red nav ul li{
	display: inline-block;
	border: none;
	border: none;
}
#red nav ul li a {
	width: 152px;
	padding-left: 20px;
	padding-right: 20px;
} 

/*----------------------Sexta parte---------------------------*/
#Parte-6{
	padding: 100px 0 60px;
	width: 100%;
	height: 800px;
	background: #111111;

}
.Amazing-team h1{
	padding-left: 537px;
	color: #ffffff;

}

.Amazing-team p{
	color: #626262;
	padding-left: 517px;
}

.circulo-1{
	padding-left: 303px;
	float: left;
}

.circulo-2{
	padding-left: 46px;
	float: left;
}

.circulo-3{
	padding-left: 46px;
	float: left;
}

/*------------------------------Septima parte-----------------------------*/
#Parte_7 {
	background: #7690c5;
	color: #ffffff;
	padding-top: 100px;
}
#left {
	padding-left: 11%;
}
#say h1{
	font-size: 45px;
	font-weight: 100;
	padding-bottom: 15px;
	margin-left: 8%;
	margin-left: 5%;
}
#say h1 b{
	font-weight: 500;
}
#dont{
	margin-left: 8%;
	margin-left:5%;
}
#contact ul li{
	list-style: none;
	padding-bottom: 40px;
}
#mitad1 {
	float: left;
	padding-left: 65px;
	padding-top: 50px;
}
#mitad {
	float: left;
	padding-top: 50px;
}
.cel {
	padding-right: 15px;
}
.plus {
	padding-right: 15px;
}
.twitter {
	padding-right: 15px;
}
.mail1 {
	padding-right: 15px;
}
.face {
	padding-right: 15px;
}
.pinterest {
	padding-right: 15px;
}
/*--------------------------------------------------------*/
.name {
	width: 460px;
	height: 50px;
	padding-left: 20px;
}
#name {
	padding-bottom: 25px;
}
.mail {
	width: 460px;
	height: 50px;
	padding-left: 20px;
}
#mail {
	padding-bottom: 25px;
}
.message {
	width: 460px;
	height: 210px;
	padding-left: 20px;
	padding-bottom: 160px;
}
/*--------------------------------------------------------------*/
#copy {
	padding-top: 130px;
	padding-bottom: 30px;
	text-align: center;
} 