
#header-top{
	padding-top: 50px;
	padding-bottom: 40px;
	padding-left:105px;
	padding-right: 30px;
}
#menu-header{
	margin-top: 5px;
	padding-left: 10px;
}
img{
	padding-left: 100px;
}
nav{margin-top: 0px;}
nav ul li{
	display:inline-block;
}
nav ul li a{
	text-decoration: none; color: #ffffff; font-size: 18px;  padding: 0px 10px; ;
	font-family: 'Brandon Grotesque medium';
}
#titulo-1 p{
	text-decoration: none; color: #ffffff; font-size: 30px;  padding:center;
	font-family: 'Brandon Grotesque medium'; text-align: center; padding-top: 100px;
}
#titulo-2 p{
	text-decoration: none; color: #ffffff; font-size: 65px;  padding:center;
	font-family: 'Brandon Grotesque medium'; text-align: center; padding-top: 20px;

}
button{
	color: #ffffff; width: 110px;
  margin-left: 50%;
  transform: translateX(-50%);
	text-align: center;
	width: 240px;
	height: 70px;
}
